<table class="table table-stripped {{css.important}} fancy">
    <tr>
        {{#each columns}}
            <th>{{this}}</th>
        {{/each}}
    </tr>

    {{#each rows}}
        <tr>
            {{#each this}}
                <td>{{this}}</td>
            {{/each}}
        </tr>
    {{/each}}

</table>
